h1{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
}
.head{
    background-image: url(https://www.azal.az/_next/static/media/comfort_places_90b5aedab0.5a87bddf.png) !important;
    height: 450px !important;
    background-color: #01357e !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.service_information{
    display: flex;
    align-items: flex-end;
    padding: 32px;
    position: absolute !important;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.service_location{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
li{
    text-decoration: none;
    list-style: none;
}
.nokta{
    background-color: #fff;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin: 0 12px;
}
.service_location li{
    display: flex;
    align-items: center;
}
.service_location a{
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: #fff;
}
.service_location li:last-child{
    color: #eee;
    opacity: .85;

}


/* MAIN CSS */
main{
    padding: 48px 80px 80px;
}
.premium_information{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.premium_information h3{
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #01357e;
    margin: 12px 0;
}
.premium_information li{
    font-size: 14px;
    line-height: 24px;
    color: #6e7583;
    max-width: 1160px;
    text-overflow: ellipsis;
    display: inline-block;
    font-weight: 400;
    margin: 12px 0;
}