@model IEnumerable<CitiesGetAllDto>

@foreach (var item in Model)
{

    <button class="country_button to_inputt">
        <div class="d-flex">
            <svg width="20"
             height="20"
             viewBox="0 0 20 20"
             fill="currentColor"
             xmlns="http://www.w3.org/2000/svg"
             class="_root_1GwWf_rETN6 _airplane_icon_t1zVY_rETN6 _size_20_1GwWf_rETN6">
                <path d="M5.19593 2.6236C5.0576 2.62532 4.91992 2.66184 4.79554 2.73184C4.32471 2.99725 4.22501 3.63237 4.59209 4.02904L8.09307 7.8124L4.88831 9.21296L2.91484 8.05491C2.67109 7.912 2.37143 7.90298 2.11976 8.03131C1.68518 8.25215 1.53424 8.79964 1.79424 9.21214L2.91078 10.9838C3.53161 11.9688 4.77949 12.3521 5.84616 11.8855L17.4868 6.79108C18.2014 6.47858 18.5272 5.64531 18.2151 4.93073C17.9022 4.21615 17.0694 3.88988 16.3548 4.20238L11.9782 6.11481L5.59876 2.72126C5.47272 2.65438 5.33427 2.62188 5.19593 2.6236ZM3.12481 15.8332C3.04199 15.8321 2.95976 15.8474 2.8829 15.8782C2.80605 15.9091 2.7361 15.955 2.67712 16.0131C2.61814 16.0713 2.5713 16.1406 2.53933 16.217C2.50737 16.2934 2.4909 16.3754 2.4909 16.4582C2.4909 16.5411 2.50737 16.6231 2.53933 16.6995C2.5713 16.7759 2.61814 16.8452 2.67712 16.9033C2.7361 16.9615 2.80605 17.0073 2.8829 17.0382C2.95976 17.0691 3.04199 17.0844 3.12481 17.0832H16.8748C16.9576 17.0844 17.0399 17.0691 17.1167 17.0382C17.1936 17.0073 17.2635 16.9615 17.3225 16.9033C17.3815 16.8452 17.4283 16.7759 17.4603 16.6995C17.4922 16.6231 17.5087 16.5411 17.5087 16.4582C17.5087 16.3754 17.4922 16.2934 17.4603 16.217C17.4283 16.1406 17.3815 16.0713 17.3225 16.0131C17.2635 15.955 17.1936 15.9091 17.1167 15.8782C17.0399 15.8474 16.9576 15.8321 16.8748 15.8332H3.12481Z"></path>
            </svg>
            <p>@item.CityName</p>
        </div>
        <div><span>@item.CountryName</span></div>
    </button>
}

