@model AddServiceRequestDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="container">
    <form method="post" style="margin-top:100px" enctype="multipart/form-data">
                <div class="form-group">
            <label for="exampleBody">Name</label>
            <input type="text" class="form-control" id="exampleBody" asp-for="Name">
            <span asp-validation-for="Name" class="text text-danger"></span>

        </div>
        <div class="form-group">
            <label for="exampleTitle">Title</label>
            <input type="text" class="form-control" id="exampleTitle" aria-describedby="TitleHelp" asp-for="Title">
            <span asp-validation-for="Title" class="text text-danger"></span>

        </div>

        <div class="form-group">
            <label for="exampleImagePatg">Description</label>
            <textarea type="text" class="form-control" id="editor" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text text-danger"></span>

        </div>
        <div class="form-group">
            <label for="exampleImagePatg">Image</label>
            <label class="single-chooser">
                <input type="file" class="form-control" id="exampleImagePatg" asp-for="Image">
            </label>

            <span asp-validation-for="Image" class="text text-danger"></span>

        </div>
        <a class="btn btn-success" asp-action="index">Back</a>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
@section addcss{
    <link href="~/lib/single-chooser/single-chooser.css" rel="stylesheet" />
}
@section addjs{
    <script src="~/lib/single-chooser/single-chooser.js"></script>
    <script src="~/lib/ckeditor5/ckeditor.min.js"></script>
    <script>
        window.addEventListener('load',function(){
            ClassicEditor
                .create(document.querySelector('#editor'))
                .then(editor=>{})
                .catch(error=>{console.error(error)});
        })
        document.querySelector('.single-chooser input[type=file]').singleChooser();

    </script>
}