@model AddServiceRequestDto
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="container">
    <form method="post" style="margin-top:100px">
                <div class="form-group">
            <label for="exampleBody">Name</label>
            <input type="text" class="form-control" id="exampleBody" asp-for="Name">
            <span asp-validation-for="Name" class="text text-danger"></span>

        </div>
        <div class="form-group">
            <label for="exampleTitle">Title</label>
            <input type="text" class="form-control" id="exampleTitle" aria-describedby="TitleHelp" asp-for="Title">
            <span asp-validation-for="Title" class="text text-danger"></span>

        </div>

        <div class="form-group">
            <label for="exampleImagePatg">Description</label>
            <input type="text" class="form-control" id="exampleImagePatg" asp-for="Description">
            <span asp-validation-for="Description" class="text text-danger"></span>

        </div>
        <a class="btn btn-success" asp-action="index">Back</a>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
